.header-main {
    width: 100%;
    background-color: $container-color;
    box-shadow: 0 0 3px black;
}

.container-frame {
    max-width: $content-width;
    margin: 10px auto;
    background-color: $container-color;    
    border-radius: 10px;
    box-shadow: 0 0 3px black;
}

.container {
    padding: 8px 24px;
}