.footer {
    .contacts-section {
        text-align: center;
        margin: 8px auto;

        .contacts-section-title {
            text-align: center;

            .contacts-section-title__h2 {
                display: inline-flex;
                padding: 0px 6px;
                font-size: 26px;
                font-variant: small-caps;
                font-style: italic;
                border: 2px dashed cyan;
                border-radius: 10px;
            }
        }

        .contacts-section-table {
            margin: 8px auto;
            border-collapse: collapse;

            .contacts-section-table__column {
                border-collapse: collapse;

                .contacts-section-table__cell {
                    font-size: 18px;
                    text-align: center;
                    border-collapse: collapse;
                    padding: 3px 6px;
                }
            }
        }

        .contacts-section__link {
            display: block;
            width: 32px;
            min-width: 32px;
            height: 32px;
            margin: auto;
            border: 1px solid;
            border-color: transparent;
            border-radius: 50%;
        }

        .github-link {
            background-image: url('../img/github-ico-light-64px.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-clip: padding-box;
        }

        .telegram-link {
            background-image: url('../img/telegram-ico-32px.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-clip: padding-box;
        }
    }

    .copyright-section {
        text-align: center;
        margin: 8px auto;
        .copyright {
            font-size: 12px;
        }
    }
}