.navbar-wrap {
    width: $content-width;
    margin: 0 auto;
}

.navbar {
    display: flex;
    padding: 0 16px;
}

.navbar__logo-link {
    width: 50px;
    min-width: 50px;
    height: 50px;
    margin: auto 0;
    background-color: grey;
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: padding-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
}

.navbar__logo-link:hover {
    border-color: white;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0 16px;
}

.navbar-ul__item {
    float: left;
}

.navbar__link,
.navbar__link-act {
    display: block;
    margin: auto;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
}

.navbar__link {
    color: white;
}

.navbar__link-act {
    color: gold;
}

.navbar__link:hover,
.navbar__link-act:hover {
    background-color: $bgcolor;
}